<nav class="flex flex-col pt-3 pb-1 px-4 theme-color text-white ">
    <div class="container flex flex-row justify-between">
        <div class="logo">LOGO</div>
        <div class="right  hidden md:flex flex-row ">
            <a href="/about" class="mr-2 border-b-2 border-blue-600 hover:border-white ">ABOUT</a>
            <a href="/blog" class="mr-2 border-b-2 border-blue-600 hover:border-white ">BLOG</a>
            <a href="/contact" class="mr-2 border-b-2 border-blue-600 hover:border-white ">CONTACT </a>
            <a href="/login" class="mr-2 border-b-2 border-blue-600 hover:border-white ">LOGIN</a>
        </div>
        <div class="right flex md:hidden" id="btn_toggle">
            <i class='fa-solid fa-bars ' id="ss"></i>
            <i class="fa-solid fa-xmark hidden" id="ee"></i>
        </div>
    </div>
    <div class="right hidden  md:flex  flex-row mt-2 text-center" id="toggle_nav">
        <a href="/about" class="mr-2 border-b-2 border-blue-600 hover:border-white ">About</a>
        <a href="/blog" class="mr-2 border-b-2 border-blue-600 hover:border-white ">Blog</a>
        <a href="/contact" class="mr-2 border-b-2 border-blue-600 hover:border-white ">Contact </a>
        <a href="/login" class="mr-2 border-b-2 border-blue-600 hover:border-white ">Login</a>
    </div>
</nav>