<nav class="flex flex-col pt-3 pb-1 px-2 theme-color text-white ">
    <div class="container flex flex-row justify-between">
        <div class="logo"><a href="/" class="font-bold">PENSPOWERR</a></div>
        <div class="right  hidden md:flex flex-row ">
            <a href="/about" class="mr-2 border-b-2 text-md  border-[#2176af]  hover:border-white ">About Us</a>
            <a href="/blog" class="mr-2 border-b-2 text-md  border-[#2176af]  hover:border-white ">Blog </a>

            <button class="mr-2 border-b-2 text-md  border-[#2176af]" type="button" id="btn" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Our Services
        </button>
        <div class="dropdown-menu theme-color" >
            <ul>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/post-content" class="pl-3">Copy Writing</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/article" class="pl-3">Article Writing</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/blog-post" class="pl-3">Blog Article</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/research" class="pl-3">Legal Research</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/research" class="pl-3">Research Help</a></li>
                <li class=" w-full text-white hover:pl-2   "><a href="" class="pl-4">Essay</a></li>
                
                
            </ul>
        </div>

            <a href="/contact" class="mr-2 border-b-2 text-md  border-[#2176af]  hover:border-white ">Contact </a>
            <a href="/login" class="mr-2 border-b-2 text-md  border-[#2176af]  hover:border-white ">Login</a>
        </div>
        <div class="right flex md:hidden" id="btn_toggle">
            <i class='fa-solid fa-bars ' id="ss"></i>
            <i class="fa-solid fa-xmark hidden" id="ee"></i>
        </div>
    </div>
    <div class="right hidden   flex-row mt-2 text-center" id="toggle_nav">
        <a href="/blog" class="mr-2 border-b-2 text-md  border-[#2176af]  hover:border-white ">Blog </a>
        
        <button class="mr-2 border-b-2 text-md  border-[#2176af]" type="button" id="btn" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Our Services
        </button>
        <div class="dropdown-menu theme-color" >
            <ul>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/post-content" class="pl-3">Copy Writing</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/article" class="pl-3">Article Writing</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/blog-post" class="pl-3">Blog Article</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/research" class="pl-3">Legal Research</a></li>
                <li class=" w-full text-white hover:pl-2   border-b border-gray-400 py-1"><a href="/services/research" class="pl-3">Research Help</a></li>
                <li class=" w-full text-white hover:pl-2   "><a href="" class="pl-4">Essay</a></li>
                
                
            </ul>
        </div>
        
        
        <a href="/my_orders" class="mr-2 border-b-2 text-md  border-[#2176af]  hover:border-white ">My Orders </a>
        <a href="/contact" class="mr-2 border-b-2 text-md  border-[#2176af]  hover:border-white ">Contact Us</a>
        <a href="/login" class="mr-2 border-b-2  border-[#2176af]  hover:border-white "><i
                class="fa-solid fa-user "></i></a>
    </div>
</nav>