<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>


<section>
   <div class="heading">
       <p class="text-xl font-bold pl-3 mt-2 text-blue-600 bg-gray-100">Assignments</p>
       <p class="text pl-4 bg-gray-100">Tell us your requirements by filling  below form !</p>
       <hr>
   </div>
</section>
<section>

    <p class="text-lg text-center  mt-3 font-bold text-blue-400">Fill This Form To Order Our Services</p>
    <div class="text-center mt-4" >
        <form action="/place_order" method="post">
            <input autocomplete="off" type="text"class=" border_bb px-2 py-2 w-64 w-68" placeholder="Full Name ...." name="name">
            <input autocomplete="off" type="email" class=" border_bb px-2 py-2 mt-3 w-64 w-68" placeholder="Email" name="email">
            <input autocomplete="off" type="number" class=" border_bb px-2 py-2 mt-3 w-64 w-68" placeholder="Phone " name="phone">
            <input autocomplete="off" type="text" class=" border_bb px-2 py-2 mt-3 w-64 w-68" placeholder="Words Count.... " name="words">
            <select name="service" id="" class="border_bb px-2 py-2 mt-3 w-64 w-68">
                <option value="assignment">Assignments</option>
            </select>
            <input autocomplete="off" type="text" class=" border_bb px-2 py-3  w-64 w-68 mt-3 " placeholder="Description ..."  id="desc" name="comment" >
            <div class="flex flex-col mx-auto text-left   mt-3 w-64 w-68">
                <label for="delivery_date " class="pl-1 text-blue-600">Delivery Date *</label>
            <input type="date" class=" border_bb px-2 py-2 w-64 w-68 " placeholder="Delivery date"  id="delivery_date" name="delivery_date" >
            </div>
           <div class="d-flex justify-content-center my-4">
            <button type="submit" class="font-bold text-white text-lg px-3 theme-color rounded-full">Order NOW</button>
           </div>
        </form>
    </div>
    
</section>

<%- include('./partials/footer.ejs') %>


