<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="okay  mt-36">
    <div class="msg  flex justify-center">
        <% if(msg){ %>
            <div class="alert text-center text-xl font-bold py-1 px-1 w-5/12 bg-orange-200"><%= msg %></div>
            <%}%>
    </div>
    <div class="container w-72 flex items-end  mb-40 " >
        <form action="/login" method="post">
            <input type="email"class=" border_bb px-2 py-2 w-64 w-68" placeholder="Email" name="username">
            <input type="password" class=" border_bb px-2 py-2 mt-2 w-64 w-68" placeholder="password" name="password">
       <div class="d-flex justify-content-center my-4 ">
        <button type="submit" class="font-bold text-white text-lg px-3 theme-color rounded-full">LOGIN</button>
        <a href="/register" class="ml-3 font-bold text-color font-sans text-sm mt-1 ">Create now ?</a>
       </div>
    </form>
</div>
</div>

<%- include('./partials/footer.ejs') %>
