<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
<section>
<div class="hero_text grid grid-flow-row grid-cols-1 md:grid-cols-2">
   <div class="hero_text">
       <div id="typed-strings " class="my-4"> <span>WE Help in Writing :</span> <span id="typed" class="font-bold text-3xl "></span></div>
       <p class="text-lg">why us ?</p>
   </div>
   <div class="logo">
    <h1 class="hidden md:flex">hellow bro</h1>
</div>
</section>
<section class="cards theme-color gap-1 grid container py-2 grid-flow-row grid-cols-1 md:grid-cols-4 ">
<div class="card bg-white my-2  border  w-full mx-auto rounded-md hover:px-2  ">
    <div class=" p-2 theme-color mt-2 relative w-32 h-32 mx-auto text-center" style="border-radius: 50%;">    
    <i class="fa-solid fa-hand-holding-dollar text-white absolute icon_size" ></i>
    </div>
    <p class="text-md font-bold text-center my-2 ">100% Refund Policy</p>
</div>
<div class="card bg-white my-2  border  w-full mx-auto rounded-md hover:px-2  ">
    <div class=" p-2 theme-color mt-2 relative w-32 h-32 mx-auto text-center" style="border-radius: 50%;">    
    <i class="fa-solid fa-list-check text-white absolute icon_size" ></i>
    </div>
    <p class="text-md font-bold text-center my-2 ">100% Genuen Writing</p>
</div>

<div class="card bg-white my-2  border  w-full mx-auto rounded-md hover:px-2  ">
    <div class=" p-2 theme-color mt-2 relative w-32 h-32 mx-auto text-center" style="border-radius: 50%;">    
    <i class="fa-solid fa-headset text-white absolute icon_size" ></i>
    </div>
    <p class="text-md font-bold text-center my-2 ">24/7 Customer Support</p>
</div>

<div class="card bg-white my-2  border  w-full mx-auto rounded-md hover:px-2  ">
    <div class=" p-2 theme-color mt-2 relative w-32 h-32 mx-auto text-center" style="border-radius: 50%;">    
    <i class="fa-solid fa-recycle text-white absolute icon_size" ></i>
    </div>
    <p class="text-md font-bold text-center my-2 ">Free Revisions</p>
</div>


</section>    
<%- include('./partials/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
 var typed = new Typed('#typed', {
  strings: [
    'ESSAY',
    'RESEARCH',
    'THESIS',
    'ASSIGNMENTS',
    'CASE STUDY',
    'ARTICLES',
    'BLOG POSTS',
    'RESUME',
  ],
  typeSpeed: 50,
  backSpeed: 80,
  loop: true
});
</script>