<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
<section>
    <div id="owl-one" class="owl-carousel owl-theme w-full">
        <div class="bg-blue-300 h-24 ml-2">image 1</div>
        <div class="bg-blue-300 h-24 ml-2">image 2</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-md-4 px-2 py-2">
                <div class="card w-[100%]" id="single_card">
                    <div class="card_overlay w-full"></div>
                    <img src="images/1643736748184-264469368-close.png" alt="">
                    <div class="ctb">shopnow</div>
                </div>

            </div>
        </div>
    </div>

</section>

       
        <%- include('./partials/footer.ejs') %>
        <script>
            $(document).ready(function () {
                $('#owl-one').owlCarousel({
                    items: 1,
                    loop: true,
                })


            });
        </script>